body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.footer{
  background-color: purple;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.content{
  background-color: green;
  color: white;
  text-align: center;
  padding: 50px 0;
  width: 70%;
}
.sidebar{
  background-color: pink;
  color: white;
  text-align: center;
  padding: 50px 0;
  width: 30%;
}
.contents{
  display: flex;
}
.title{
  color:red;
}
.card-movie .card-img-top{
  height: 400px;
}
.card-body p{
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#movie_list >.card-body{
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  grid-gap: 20px;
}
